.treenode {
	background-color: red;
}
.toggle {
	/*float: right;*/
	margin-left: 5px;
	margin-right: 5px;
}
.title {
	display: inline;
}
.child-list {
	margin-top: 5px;
}

#app-header {
	width: 100%;
	height: 80px;

	display: inline-flex;
	justify-content: space-between;
	padding: 10px 10px 10px 10px;

	position: absolute;
	left: 0;
	top: 0;

	background: #bfbfbf;
}

#app-title {
	color: #4c76ff;
	font-size: 20pt;
}

#app-subtitle {
	padding-top: 5px;
	font-size: 12pt;
}

#app-content {
	padding-top: 70px;
}

.flow-list-vertical {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: center;
}

.flow-list-horizontal {
	display: inline-flex;
	justify-content: space-between;
	align-content: center;
	flex-wrap: wrap;
}

#landing-conversations {
	background: #efefef;
}

.conversation-selector {
	width: 150px;
	height: 60px;

	display: flex;
	justify-content: space-between;
	align-content: center;
	margin-bottom: 10px;

	background: #4c76ff;
	color: #fefefe;
}

.conversation-selector :hover {
	background: #40c5ff;
}

.modal-form {
	margin-left: 10px;
}

.list-item {
	margin-top: 10px;
}

.delete-button {
	margin-left: 10px;
}

#app-title-image {
	width: 60px;
	height: 60px;
}