html {
	padding: 20px;
}

.treenode {
	background-color: red;
}
.toggle {
	/*float: right;*/
	margin-left: 5px;
	margin-right: 5px;
}
.title {
	display: inline;
}
.child-list {
	margin-top: 5px;
}
.input-node {
	width: 200px;
	display: inline-block;
}
.modalWrapper {
	cursor: pointer;
}

.hide {
	display:none;
}

.show {
	display: inherit;
}

#title {
	display: inline;
}
